<ol class="post-list">
  <li>
    <article class="post">
      <div class="title">
        <p>{{product_name}}</p> ({{category}})
        <span>({{descrip}})</span>
        <p>Posted by: {{user.username}}</p>
      </div>
      <div class="meta">
        ${{price}} in {{location}} 
        {{created_at}}
      </div>
    </article>
  </li>
</ol>